body {
    background-color:#D1D1D1 ;
}

.main-heading {
    color: #161919;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-screan-header {
   background-color: #7F8181; 
}

.main-screan-buttons {
    color: #ffffff;
    text-align: center;
    font-family: Overpass Mono;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

